@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

.titulo {
    text-align: center;
    margin-top: 20px;
    color: #3a5a40;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}
/* Navbar e estilos comuns ficam em `homepage.css` */